@import "../global.scss";

div#wiss-wheel-content-body {
  
  position: absolute;
  width: 50vh;
  text-align: left;
  font-size: 16px;

  .wiss-wheel-content-section {
    display: flex;
    flex-direction: row;
    left: 100px;
    top: 220px;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      left: 220px;
      top: 584px;
    }
  }

  .wiss-wheel-content-section {
    position: absolute;
    opacity: 0;
    @include staggered_top();
    @include staggered_opacity();
  }

  .wiss-wheel-content-section.yolo {
    opacity: 0.5;
  }

  section {
    > div {
      margin-bottom: 20px;
    }

    img.wiss-ess {
      width: 52px;
      height: 52px;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    div.wiss-subhead {
      color: darkblue;
      img {
        float: left;
      }
    }

    div.wiss-body {
      color: black;
    }

    > div.href {
      margin-bottom: 40px !important;

      > a {
        color: darkblue;
      }
    }
  }
}
