@import "../global.scss";

.wiss-interactive-wheel {
    position: absolute;
    display: block;
    height: 800px;
    width: 800px;
    user-select: none;
    pointer-events: none;
    overflow: visible;
    transform-origin: top left;
    transform: scale(0.75);
    pointer-events: none;
    margin-bottom: -280px;

    @media only screen and (min-width: 1024px) {
        transform:  translate(100vw, 0) rotate(90deg) scale(0.75) ;
    }

    .wiss-wheel-clipping {
        overflow: hidden;
        position: absolute;
        height: 800px;
        width: 800px;
    }

    svg {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 800px;
        width: 800px;
        pointer-events: none;
        user-select: none;
    }

    .wiss-child {
        @media only screen and (min-width: 1024px) {
            transform: rotate(-90deg);
        }
    }

    .wiss-overlay-layer {
        z-index: 101;
    }

    .wiss-arm-layer {
        z-index: 100;
        width: 800px;
        height: 1200px;
    }
}
