@import "../global.scss";

.wiss-interactive-wheel {
    font-family: inherit;
    position: relative;
    height: 800px;
    width: 800px;

    svg {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 800px;
        width: 800px;
        pointer-events: none;
        // transform: rotate(40deg)
    }

}
