svg.wiss-interactive-wheel {
  background-color: #ffffff;

  .wiss-wheel {
    transition: transform 3s ease-out;

    .wiss-button-ring {
      transform: scale(0.1) rotate(-720deg);
      transition: transform 2s ease-out;
    }
  }

  &.a1 {
    .wiss-button-ring {
      transform: scale(1) rotate(0deg);
    }
  }
}
