@mixin staggered_transitions($nth: 1, $items: 2, $initial: 0, $step: 0.1) {
	@for $i from $nth through $items {
		&:nth-of-type(#{$i}) {
			transition-delay: #{$initial}s;
		}
		$initial: $initial + $step;
	}
}

@mixin staggered_rotations($nth: 1, $items: 4, $initial: 0, $step: 90) {
	@for $i from $nth through $items {
		&:nth-of-type(#{$i}) {
			transform: rotate(#{$initial}deg);
			fill: blue;
		}
		$initial: $initial + $step;
	}
}
