@mixin staggered_opacity($nth: 1, $items: 3, $initial: 0, $step: 0.1) {
	@for $i from $nth through $items {
		&:nth-of-type(#{$i}) {
			opacity: #{$initial};
		}
		$initial: $initial + $step;
	}
}

@mixin staggered_top($nth: 1, $items: 3, $initial: 0, $step: 0.1) {
	@for $i from $nth through $items {
		&:nth-of-type(#{$i}) {
			top: #{$initial}s;
		}
		$initial: $initial + $step;
	}
}
